spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fastlinehub
    username: user
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none

# 로컬 디버깅용 SQL 로그(필요 시)
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
