version: "3.9"

services:
  db:
    image: postgres:16
    container_name: pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: Asia/Seoul
    ports:
      - "5435:5435"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d fastlinehub"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: adminpass
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"

      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: ${POSTGRES_DB}

      # 서버 자동 등록 강제 적용(매 시작 시)
      PGADMIN_SERVER_JSON_FILE: /pgadmin4/servers.json
      PGADMIN_REPLACE_SERVERS_ON_STARTUP: "True"
    ports:
      - "127.0.0.1:5050:85"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./pgadmin-init.sh:/pgadmin-init.sh:ro
    user: root
    entrypoint: ["/bin/sh", "/pgadmin-init.sh"]

  # In-memory cache (for Spring Cache / Spring Data Redis)
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    command: [ "redis-server", "--appendonly", "yes" ]
    ports:
      - "6384:6384"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redisinsight:
    image: redis/redisinsight:latest   # <-- 여기!
    container_name: redisinsight
    restart: unless-stopped
    environment:
      RI_APP_PORT: "5545"
    ports:
      - "127.0.0.1:5540:5545"
    depends_on:
      redis:
        condition: service_healthy

volumes:
  pg_data:
  pgadmin_data:
  redis_data:
